@import 'colors', 'breakpoints', 'mixins';

[controller-type='spree/products']  {
  color: #1a1919;
  padding-top: 30px;

  .products-top-section {
    .product-index-title {
      font-size: 50pt;
    }

    #our-picks-for-babe-button {
      text-align: center;
      padding-bottom: 20px;
    }

  }

  .more-colors-available {
    padding-bottom: 3px;
  }

  div.additional_item_image {
    float:left;
    padding-right: 20px;
  }

  div.additional-products-container {
    padding-top: 30px;
  }

  div.product-brand {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
  }

  div.product-title {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 200;
  }

  div.panel-body {
    height: 410px;
  }

  .panel-body.text-center.product-body.product-list-panel {
    height: 340px;
    width: 265px;
  }

  .panel-default {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .variant-option-values li a.option-value {
    padding: 0px;
  }

  .lead {
    color: #1a1919;
  }

  a.option-value {
    min-width: 50px;
    text-align: center;
  }
  
  .product-list-image-panel {
    height: 240px;
    width: 240px;
  }

}

[data-route="spree/products/show_package"] {
  .col-md-4 {
    min-height: 600px;
  }

  main {
    padding-top: 30px;
  }
}

[data-route="spree/products/show"] {
  .col-md-8 {
    padding-top: 5px;
    padding-left: 30px;
  }

  input#quantity.title.form-control {
    height: 45px;
  }

  .well {
    max-width: 650px;
  }

  main {
    padding-top: 30px;
  }
}