<ul id="product-thumbnails" class="thumbnails list-inline" data-hook>
  <% unless @taxon.icon_file_name.nil? %>
    <li class='tmb-all tmb-888888 %>'>
      <%= link_to(image_tag(@taxon.icon(:mini), class: "thumbnail"),@taxon.icon.url(:display2) ) %>
      <%#= image_tag(@taxon.icon(:mini))  %>
    </li>
  <% end %>
  <% @products.each do |p| %>
    <% p.images.each do |i| %>
      <li class='tmb-all tmb-<%= i.viewable.id %>'>
        <%= link_to(image_tag(i.attachment.url(:mini), class: "thumbnail"), i.attachment.url(:product2)) %>
      </li>
    <% end %>
  <% end %>
</ul>

