<h1 class="taxon-title">Looking For Some Inspiration?</h1>
<h4 style="padding-top: 10px;">Our themed shops will help you narrow the choices and set the mood.</h4>
&nbsp;<p></p>
  <div data-hook="taxon_children">
      <%= render partial: 'themes_taxon', collection: @taxon.children %>
  </div>
