<h1 class="taxon-title">Looking For Some Inspiration?</h1>
<h3 style="padding-top: 15px;padding-bottom: 15px;">Our themed shops will help you narrow the choices and set the mood.</h3>
&nbsp;<p></p>
  <div data-hook="taxon_children">
      <%= render partial: 'themes_taxon', collection: @taxon.children %>
  </div>
