//= require_tree .
//= require_self

$body-background-color: #1a1919;
$explanation-background-color: #2f231d;
$extras-background-color: #135b61;
$link-color: #156086;
$nav-separator-color: #666;

$medium-large-breakpoint: 1000px;
$small-medium-breakpoint: 500px;

@mixin clear {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

#home.concierge_page {
  color: white;
  background-color: $body-background-color;
  font-family: 'roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  
  a {
    color: $link-color;
  
    &:hover {
      text-decoration: none;
    }
  }

  h1,
  h2,
  h3 {
    text-align: center;
    text-transform: uppercase;
  }

  h1 {
    font-size: 4rem;
  
    @media screen and (max-width: $medium-large-breakpoint) {
      font-size: 3.5rem;
    }
  
  }

  h2 {
    font-size: 2.5rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline;
  
    @media screen and (max-width: $small-medium-breakpoint) {
      display: block;
    }
  
  }

  header {
    @include clear;
    position: relative;
    padding: 6rem;
    text-transform: uppercase;
  
    @media screen and (max-width: $medium-large-breakpoint) {
      padding: 6rem 2rem 2rem 2rem;
      text-align: center;
    }
  
    .logo {
      display: inline-block;
      float: left;
    
      @media screen and (max-width: $medium-large-breakpoint) {
        float: none;
      }
    
    }
  
    nav {
      float: right;
      text-align: right;
      font-weight: bold;
      color: #ccc;
    
      @media screen and (max-width: $medium-large-breakpoint) {
        margin-top: 3rem;
        float: none;
        text-align: center;
      }
    
      a,
      a:hover {
        color: inherit;
      }
    
      a span {
        color: $link-color;
      }
    
    }
  
  }

  footer {
    padding: 4rem;
    text-transform: uppercase;
    font-size: 1.5rem;
  
    p:last-child {
      margin-bottom: 0;
    }
  
    a {
      color: inherit;
    
      &:hover {
        color: inherit;
      }
    
      &:not(:first-child)::before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 1.2em;
        position: relative;
        top: .2em;
        background-color: $nav-separator-color;
        margin: 0 .75em 0 .5em;
      }
    }
  
  }

  #account-links {
    position: absolute;
    top: 3rem;
    right: 6rem;
    font-size: 1.2rem;
  
    @media screen and (max-width: $medium-large-breakpoint) {
      position: static;
      top: auto;
      left: auto;
    }
  
    li {
      &:last-child {
        position: relative;
      
        &::before,
        &::after {
          content: '';
          display: block;
          width: 1px;
          height: 10rem;
          position: absolute;
          top: -7rem;
          background-color: $nav-separator-color;
        
          @media screen and (max-width: $medium-large-breakpoint) {
            background-color: transparent;
          }
        
        }
      
        &::before {
          left: 0;
        }
      
        &::after {
          right: 0;
        }
      
        @media screen and (max-width: $small-medium-breakpoint) {
          a::before {
            content: "My cart";
            margin-right: 1em;
          }
        }
      
      }
    
      > a {
        display: inline-block;
        padding: 0 2rem;
      
        @media screen and (max-width: $medium-large-breakpoint) {
          padding: 0 1rem;
        }
      
      }
    
      a + a {
        padding-left: 0;
      }
    
    }
  
    img {
      max-width: 20px;
      max-height: 20px;
      position: relative;
      top: -1px;
    }
  
  }

  #store-links {
    line-height: 76px;
  
    a {
      padding: 0 4rem;
    
      @media screen and (max-width: $medium-large-breakpoint) {
        padding: 0 2rem;
      }
    
      @media screen and (max-width: $small-medium-breakpoint) {
        padding: 0 .5rem;
      }
    
    }
  
  }

  #social-media-links {
    position: absolute;
    top: 1rem;
    left: 5.2rem;
  
    @media screen and (max-width: $medium-large-breakpoint) {
      width: 100%;
      text-align: center;
      left: 0;
    }
  
    a {
      padding: 1rem .9rem;
    }
  
    img {
      max-width: 14px;
      max-height: 14px;
    }
  
  }


  section {
    @include clear;
    position: relative;
    padding: 6rem;
  
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 63px;
      position: absolute;
      top: -32px;
      left: 0;
      background-image: image-url('star-separator.png');
      background-position: center center;
      background-repeat: no-repeat;
    }
  
    article {
      box-sizing: border-box;
      float: left;
      padding: 2rem;
    
      @media screen and (max-width: $medium-large-breakpoint) {
        float: none;
      }
    
    }
  
    a {
      text-transform: uppercase;
    
      span {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        line-height: 1.2em;
        margin-left: .5em;
        text-align: center;
        border: solid 3px $link-color;
        border-radius: 1em;
        box-shadow: 0 0 2px 1px rgba(255, 255, 255, .8), inset 0 0 2px 1px rgba(255, 255, 255, .8);
      }
    
    }
  
  }

  #introduction h3,
  #explanation h3 {
    font-size: 4rem;
  }

  #introduction {
    min-height: 90rem;
    padding-top: 15rem;
    padding-left: 40%;
    background-image: image-url('woman-on-stairs.jpg');
    background-position: center center;
    background-size: cover;
  
    @media screen and (max-width: $medium-large-breakpoint) {
      background-position: -20rem center;
      padding-left: 35%;
    }
  
    h1 {
      text-align: left;
    }
  
    a {
      font-size: 5rem;
      font-weight: bold;
      text-shadow: 0 0 2px white, 0 0 2px white;
    
      @media screen and (max-width: $medium-large-breakpoint) {
        font-size: 3rem;
      }
    
    }
  
  }

  #explanation {
    background-color: $explanation-background-color;
    background-image: image-url('brown-gradient.png');
    background-position: center center;
    background-size: cover;
  
    article {
      width: 33.333%;
      padding-top: 30rem;
    
      @media screen and (max-width: $medium-large-breakpoint) {
        width: 100%;
      }
    
    }
  
    a {
      text-shadow: 0 0 2px white, 0 0 2px white;
      font-weight: bold;
    
      @media screen and (max-width: $medium-large-breakpoint) {
        font-size: 3rem;
      }
    
    }
  
    #step-1 {
      background: image-url('star-background.png') center top, image-url('body-in-circle.png') center 2.7rem;
      background-repeat: no-repeat;
    }
  
    #step-2 {
      background: image-url('star-background.png') center top, image-url('lingerie-in-circle.png') center 2.7rem;
      background-repeat: no-repeat;
    }

    #step-3 {
      background: image-url('star-background.png') center top, image-url('couple-in-circle.png') center 2.7rem;
      background-repeat: no-repeat;
    }

  }

  #testimonials {
    color: black;
    background-color: white;
  
    article {
      width: 50%;
      padding-left: 15rem;
      background-image: image-url('lingerie-hanging.png');
      background-position: 2rem center;
      background-repeat: no-repeat;
      background-size: 100px;
    
      @media screen and (max-width: $medium-large-breakpoint) {
        width: 100%;
      }
    
    }
  
    q {
      display: block;
      margin-bottom: 1em;
    }
  
    h3 {
      text-align: right;
    }
  
    a span {
      border-width: 2px;
    }
  
  }

  #extras {
    padding-top: 8rem;
    text-align: center;
    background-color: $extras-background-color;
    background-image: image-url('blue-gradient.png');
    background-position: center center;
    background-position: cover;
  
    article {
      width: 33.333%;
      padding-top: 30rem;
      background-position: center top;
      background-repeat: no-repeat;
    
      @media screen and (max-width: $medium-large-breakpoint) {
        width: 100%;
        padding-top: 25rem;
      
        &:not(:first-child) {
          margin-top: 5rem;
        }
      
      }
    
    }
  
  }

  #the-panty-press {
    background-image: image-url('lingerie-hanging.png');
  }

  #our-story {
    background-image: image-url('lingerie-in-window.png');
  }

  #subscriptions {
    background-image: image-url('lingerie-gift.png');
  }

  #press {
    text-align: center;
    color: black;
    background-color: white;
  
    a {
      margin: 0 1rem;
    }
  
  }  
  
}

