$body-light-background-color: white;
$body-dark-background-color: #1a1919;
$explanation-background-color: #2f231d;
$extras-background-color: #135b61;
$link-color: #156086;
$nav-separator-color: #666;
$black-color: #1a1919;
$white-color: #ccc;