@import 'colors', 'breakpoints', 'mixins';

[data-route="spree/home/how_the_wishlist_works"] {
  color: $black-color;

  .wishlist-image {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 50px;
  }
}

[data-route="spree/wishlists/edit"] {
  color: $black-color;
}

[data-route="spree/home/sizing"] {
  color: $black-color;

  table, td {
    border: 1px solid #e8e8e8;
    border-collapse: collapse;
    color: #222222;
    margin: 1.5em 0;
    padding: 5px 10px;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
  }

  h2,h3,h4,h5 {
    text-transform: uppercase;
  }
}

[data-route='spree/home/concierge_page'] {
  //background-color: $body-dark-background-color;
  .ui-dialog-titlebar {
    display: none;
  }

  h1,
  h2,
  h3 {
    text-align: center;
    text-transform: uppercase;
  }

  h1 {
    font-size: 4rem;

    @media screen and (max-width: $medium-large-breakpoint) {
      font-size: 3.5rem;
    }

  }

  h2 {
    font-size: 2.5rem;
  }

  section {
    @include clear;
    position: relative;
    padding: 6rem;

    &:not(:first-child)::before {
      content: '';
      display: block;
      width: 100%;
      height: 63px;
      position: absolute;
      top: -32px;
      left: 0;
      //background-image: image-url('star-separator.png');
      background-image: url('https://tbar-general.s3.amazonaws.com/images/star-separator.png');
      background-position: center center;
      background-repeat: no-repeat;
    }

    article {
      box-sizing: border-box;
      float: left;
      padding: 2rem;

      @media screen and (max-width: $medium-large-breakpoint) {
        float: none;
      }

    }

    a {
      text-transform: uppercase;

      span {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        line-height: 1.2em;
        margin-left: .5em;
        text-align: center;
        border: solid 3px $link-color;
        border-radius: 1em;
        box-shadow: 0 0 2px 1px rgba(255, 255, 255, .8), inset 0 0 2px 1px rgba(255, 255, 255, .8);
      }
    }

  }



  section a.home-page-byb-link {
    color: #006472;
  }

  #statement{
    //min-height: 100px;
    font-family: 'roboto', sans-serif;
    font-size: 2.2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;

    .home-statement {
      text-align: center;
      color: black;
    }
  }

  section .small-print {
    position: absolute;
    bottom:0px;
    padding-bottom: 2rem;
    margin: 0 auto;
    width: 100%;
    color: black;
    text-align: center;
  }


  footer {
    span#copyright {
      color: $black-color;
    }

    a {
      color: $black-color;
    }
  }

  section#extras {
    a {
      color: white;
      text-decoration: none;
    }
  }

  #introduction h3,
  #explanation h3 {
    font-size: 4rem;
  }


  #introduction {
    min-height: 42rem;
    padding-top: 35rem;
    background-image: url('https://tbar-general.s3.amazonaws.com/images/angelabed.jpg');

    background-position: center top;
    background-size: 1300px;
    background-repeat: no-repeat;
    padding: 10px;

    @media screen and (max-width: $medium-large-breakpoint) {
      background-position: -20rem center;
    }

    h1 {
      text-align: left;
    }

    a {
      font-size: 5rem;
      font-weight: bold;
      text-shadow: 0 0 2px white, 0 0 2px white;

      @media screen and (max-width: $medium-large-breakpoint) {
        font-size: 3rem;
      }

    }

  }

  #tiles {
    overflow: hidden;
    min-height: 20em;

    h4 {
      text-align: center;
    }


    .box {
      width: 33.333%;
      padding-bottom: 33.33%;
      background: #FFFFFF;
      position: relative;
      float: left;
      color: black;
      min-width: 380px;
      min-height: 380px;

      @media screen and (max-width: $medium-large-breakpoint) {
        width: 100%;
        min-height: 350px;
      }

      .innerContent {
        position: absolute;
        left: 20px;
        right: 20px;
        top: 20px;
        bottom: 20px;
        padding: 10px;
        background: #d3d3d3;

        .instruction-list {
          padding-left: 20px;

          .instruction {
            font-size: 2.2rem;
            cursor: default;
          }
        }
      }

      @media only screen and (max-width : 480px) {
        /* Smartphone view: 1 tile */
        .box {
          width: 100%;
          padding-bottom: 100%;
        }
      }
      @media only screen and (max-width : 650px) and (min-width : 481px) {
        /* Tablet view: 2 tiles */
        .box {
          width: 50%;
          padding-bottom: 50%;
        }
      }
      @media only screen and (max-width : 1290px) and (min-width : 651px) {
        /* Small desktop / ipad view: 3 tiles */
        .box {
          width: 33.3%;
          padding-bottom: 33.3%;
        }
      }
    }

  }


  #explanation {
    background-color: $explanation-background-color;
    //background-image: image-url('brown-gradient.png');
    background-image: url('https://tbar-general.s3.amazonaws.com/images/brown-gradient.png');
    background-position: center center;
    background-size: cover;

    padding-top: 10px;

    article {
      color: white;
      width: 33.333%;
      padding-top: 30rem;
      .how-it-works-dialog {
        width: 100%;
      }

      @media screen and (max-width: $medium-large-breakpoint) {
        width: 100%;
      }

    }

    .dialog-title {
      text-align: center;
      text-transform: uppercase;
      font-size: 2.5rem;

      @media screen and (max-width: $medium-large-breakpoint) {
        font-size: 1.5rem;
      }
    }

    .how-it-works-dialog {
      color: white;
      width: 100%;
      padding-top: 30rem;

      @media screen and (max-width: $medium-large-breakpoint) {
        width: 100%;
      }
    }

    a {
      text-shadow: 0 0 2px white, 0 0 2px white;
      font-weight: bold;

      @media screen and (max-width: $medium-large-breakpoint) {
        font-size: 3rem;
      }

    }

    #step-1 {
      background: image-url('star-background.png') center top, url('https://tbar-general.s3.amazonaws.com/images/body-in-circle.png') center 2.7rem;
      background-repeat: no-repeat;
      //background: #d3d3d3;
    }

    #step-2 {
      background: image-url('star-background.png') center top, url('https://tbar-general.s3.amazonaws.com/images/lingerie-in-circle.png') center 2.7rem;
      background-repeat: no-repeat;
    }

    #step-3 {
      background: image-url('star-background.png') center top, url('https://tbar-general.s3.amazonaws.com/images/couple-in-circle.png') center 2.7rem;
      background-repeat: no-repeat;
    }

  }

  #testimonials {
    color: black;
    background-color: white;

    article {
      width: 50%;
      padding-left: 15rem;
      //background-image: url('https://tbar-general.s3.amazonaws.com/images/lingerie-hanging.png');
      background-image: url('/panty-press-new-image.jpg');
      background-position: 2rem center;
      background-repeat: no-repeat;
      background-size: 100px;

      @media screen and (max-width: $medium-large-breakpoint) {
        width: 100%;
      }

    }

    q {
      display: block;
      margin-bottom: 1em;
    }

    h3 {
      text-align: right;
    }

    a span {
      border-width: 2px;
    }

  }

  #extras {
    padding-top: 8rem;
    text-align: center;
    background-color: $extras-background-color;
    background-image: url('https://tbar-general.s3.amazonaws.com/images/blue-gradient.png');
    background-position: center center;
    background-position: cover;

    article {
      width: 33.333%;
      padding-top: 30rem;
      background-position: center top;
      background-repeat: no-repeat;

      @media screen and (max-width: $medium-large-breakpoint) {
        width: 100%;
        padding-top: 25rem;

        &:not(:first-child) {
          margin-top: 5rem;
        }

      }

    }

  }

  #the-panty-press {
    background-image: url('https://tbar-general.s3.amazonaws.com/images/panty-press-new-image-round.png');
  }

  #themed-collections {
    background-image: url('https://tbar-general.s3.amazonaws.com/images/panty-press-new-image-round.png');
  }

  #our-story {
    background-image: url('https://tbar-general.s3.amazonaws.com/images/lingerie-in-window.png');
  }

  #subscriptions {
    background-image: url('https://tbar-general.s3.amazonaws.com/images/lingerie-gift.png');
  }

  #press {
    text-align: center;
    color: black;
    background-color: white;

    a {
      margin: 0 1rem;
    }

    .tbar-star {
      height: 25px;
      padding-bottom: 10px;
      padding-right: 2px;
    }

  }

  #store-links {

    a {
      text-decoration: none;
    }

    a:visited {
      color: white;
    }

  }

}
