//= require_tree .
//= require_self

@import 'colors', 'breakpoints', 'mixins';

body {
  color: white;
  background-color: $body-light-background-color;
  font-family: 'roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;

  span#copyrite {
    color: $black-color;
  }

}

a {
  color: $link-color;

  &:hover {
    text-decoration: none;
  }
}

.well {
  color: $black-color;
  background-color: white;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.lead {
  color: $black-color;
}

.cart-item-description {
  color: $black-color;
}


header > div,
main,
footer {
  @include clear;
  position: relative;
  max-width: 1360px;
  margin: 0 auto;
}

header {
  text-transform: uppercase;
  background-color: $body-dark-background-color;

  
  > div {
    padding: 6rem;
    
    @media screen and (max-width: $medium-large-breakpoint) {
      padding: 6rem 2rem 2rem 2rem;
      text-align: center;
    }
    
  }

  .logo {
    display: inline-block;
    float: left;

    @media screen and (max-width: $medium-large-breakpoint) {
      float: none;
    }

  }

  a {
    color: inherit;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline;

    @media screen and (max-width: $small-medium-breakpoint) {
      display: block;
    }

  }

  nav {
    float: right;
    text-align: right;
    font-weight: bold;
    color: #ccc;

    @media screen and (max-width: $medium-large-breakpoint) {
      margin-top: 3rem;
      float: none;
      text-align: center;
    }

    a,
    a:hover {
      color: inherit;
    }

    a span {
      color: $link-color;
    }

  }

  #account-links {
    position: absolute;
    top: 3rem;
    right: 6rem;
    font-size: 1.2rem;

    @media screen and (max-width: $medium-large-breakpoint) {
      position: static;
      top: auto;
      left: auto;
    }

    li {
      &:last-child {
        position: relative;

        &::before,
        &::after {
          content: '';
          display: block;
          width: 1px;
          height: 10rem;
          position: absolute;
          top: -7rem;
          background-color: $nav-separator-color;

          @media screen and (max-width: $medium-large-breakpoint) {
            background-color: transparent;
          }

        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }

        @media screen and (max-width: $small-medium-breakpoint) {
          a::before {
            content: "My cart";
            margin-right: 1em;
          }
        }

      }

      > a {
        display: inline-block;
        padding: 0 2rem;

        @media screen and (max-width: $medium-large-breakpoint) {
          padding: 0 1rem;
        }

      }

      a + a {
        padding-left: 0;
      }

    }

    img {
      max-width: 20px;
      max-height: 20px;
      position: relative;
      top: -1px;
    }

  }

  #store-links {
    line-height: 76px;

    a {
      padding: 0 4rem;

      @media screen and (max-width: $medium-large-breakpoint) {
        padding: 0 2rem;
      }

      @media screen and (max-width: $small-medium-breakpoint) {
        padding: 0 .5rem;
      }

    }

  }

  #social-media-links {
    position: absolute;
    top: 1rem;
    left: 5.2rem;

    @media screen and (max-width: $medium-large-breakpoint) {
      width: 100%;
      text-align: center;
      left: 0;
    }

    a {
      padding: 1rem .9rem;
    }

    img {
      max-width: 14px;
      max-height: 14px;
    }

  }

}

main {
  max-width: 1360px;
  margin: 0 auto;
}

footer {
  max-width: 1360px;
  margin: 0 auto;
  padding: 4rem;
  text-transform: uppercase;
  font-size: 1.5rem;

  p:last-child {
    margin-bottom: 0;
  }

  span#copyright {
    color: $black-color;
  }

  a {
    color: $black-color;

    &:hover {
      color: inherit;
    }

    &:not(:first-child)::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 1.2em;
      position: relative;
      top: .2em;
      background-color: $nav-separator-color;
      margin: 0 .75em 0 .5em;
    }
  }

}

#new_spree_user {
  color: $black-color;
}

#contact-us {
  font: normal 1.5rem 'Open Sans', sans-serif;
  height: 830px;
  background-image: url('https://tbar-general.s3.amazonaws.com/images/rsz_angela_phone_big.jpg');
  background-position: center top;
  background-size: auto 100%;
  background-repeat: no-repeat;

  input, textarea {
    color: $black-color;
  }

  #contact-us-form {
    padding-top: 50px;
    padding-left: 25px;
  }
}

[data-route="spree/contact_us/contacts/new"] {
  background-color: $body-dark-background-color;

  footer {
    a {
      color: white;
    }
  }
}


[data-route='spree/products/index'] {
  span.price.selling.lead {
    color: $black-color;
  }
}

[data-route='spree/taxons/show'] {
  span.price.selling.lead {
    color: $black-color;
  }
}

[data-route='spree/orders/edit'] {
  tr.active {
    color: $black-color;
  }

  tr.warning.cart-total {
    color: $black-color;

    td.lead {
      color: $black-color;
    }
  }
}

[data-route="spree/users/show"] {
  tbody {
    color: $black-color;

    td.lead.text-primary.order-total {
      color: $black-color;
    }
  }
}

[data-route="spree/checkout/edit"] {

  color: $black-color;

  #methods {
    color: $black-color;
  }


  #payment {

    #payment-method-fields {
      color: $black-color;
    }

    .field {
      color: $black-color;
    }
  }

  .panel-body {
    color: $black-color;
  }

  td.lead.text-primary.price {
    color: $black-color;
  }

  td.lead.text-primary.total {
    color: $black-color;
  }

  span#order_total {
    color: $black-color;
  }
}

[data-route="spree/orders/show"] {
  color: $black-color;
}

[data-route='spree/home/about'] {
  color: $black-color;
}

[data-route='spree/home/ourstory'] {
  color: $black-color;
}

[data-route='spree/home/returns_and_exchanges'] {
  color: $black-color;
}

[data-route='spree/home/privacy_policy'] {
  color: $black-color;
}

[data-route='spree/home/terms_of_use'] {
  color: $black-color;
}

[data-route='spree/babes/index'] {
  background-color: $body-dark-background-color;

  color: white;

  footer {
    span#copyright {
      color: white;
    }

    a {
      color: white;
    }
  }
}

