//= require_tree .
//= require_self

$body-background-color: #1a1919;
$explanation-background-color: #2f231d;
$extras-background-color: #135b61;
$link-color: #156086;
$nav-separator-color: #666;

$black-color: #1a1919;
$white-color: #CCCCCC;

$medium-large-breakpoint: 1000px;
$small-medium-breakpoint: 500px;

@mixin clear {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

body {
  color: white;
  background-color: $body-background-color;
  font-family: 'roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

#main-container.main {
  background-color: white;
}

a {
  color: $link-color;

  &:hover {
    text-decoration: none;
  }
}

.well {
  color: $black-color;
  background-color: white;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.lead {
  color: $white-color;
}

header,
main,
footer {
  @include clear;
  max-width: 1360px;
  margin: 0 auto;
}

header {
  @include clear;
  position: relative;
  padding: 6rem;
  text-transform: uppercase;

  @media screen and (max-width: $medium-large-breakpoint) {
    padding: 6rem 2rem 2rem 2rem;
    text-align: center;
  }

  .logo {
    display: inline-block;
    float: left;

    @media screen and (max-width: $medium-large-breakpoint) {
      float: none;
    }

  }

  a {
    color: inherit;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline;

    @media screen and (max-width: $small-medium-breakpoint) {
      display: block;
    }

  }

  nav {
    float: right;
    text-align: right;
    font-weight: bold;
    color: #ccc;

    @media screen and (max-width: $medium-large-breakpoint) {
      margin-top: 3rem;
      float: none;
      text-align: center;
    }

    a,
    a:hover {
      color: inherit;
    }

    a span {
      color: $link-color;
    }

  }

  #account-links {
    position: absolute;
    top: 3rem;
    right: 6rem;
    font-size: 1.2rem;

    @media screen and (max-width: $medium-large-breakpoint) {
      position: static;
      top: auto;
      left: auto;
    }

    li {
      &:last-child {
        position: relative;

        &::before,
        &::after {
          content: '';
          display: block;
          width: 1px;
          height: 10rem;
          position: absolute;
          top: -7rem;
          background-color: $nav-separator-color;

          @media screen and (max-width: $medium-large-breakpoint) {
            background-color: transparent;
          }

        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }

        @media screen and (max-width: $small-medium-breakpoint) {
          a::before {
            content: "My cart";
            margin-right: 1em;
          }
        }

      }

      > a {
        display: inline-block;
        padding: 0 2rem;

        @media screen and (max-width: $medium-large-breakpoint) {
          padding: 0 1rem;
        }

      }

      a + a {
        padding-left: 0;
      }

    }

    img {
      max-width: 20px;
      max-height: 20px;
      position: relative;
      top: -1px;
    }

  }

  #store-links {
    line-height: 76px;

    a {
      padding: 0 4rem;

      @media screen and (max-width: $medium-large-breakpoint) {
        padding: 0 2rem;
      }

      @media screen and (max-width: $small-medium-breakpoint) {
        padding: 0 .5rem;
      }

    }

  }

  #social-media-links {
    position: absolute;
    top: 1rem;
    left: 5.2rem;

    @media screen and (max-width: $medium-large-breakpoint) {
      width: 100%;
      text-align: center;
      left: 0;
    }

    a {
      padding: 1rem .9rem;
    }

    img {
      max-width: 14px;
      max-height: 14px;
    }

  }

}

footer {
  padding: 4rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: white;

  p:last-child {
    margin-bottom: 0;
  }

  a {
    color: #171617;

    &:hover {
      color: inherit;
    }

    &:not(:first-child)::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 1.2em;
      position: relative;
      top: .2em;
      background-color: $nav-separator-color;
      margin: 0 .75em 0 .5em;
    }
  }

}

#new_spree_user {
  color: $black-color;
}

#contact-us {
  font: normal 1.5rem 'Open Sans', sans-serif;
  height: 830px;
  background-image: url('https://tbar-general.s3.amazonaws.com/images/rsz_angela_phone_big.jpg');
  background-position: center top;
  background-size: auto 100%;
  background-repeat: no-repeat;

  input, textarea {
    color: $black-color;
  }

  #contact-us-form {
    padding-top: 50px;
    padding-left: 25px;
  }
}

[data-route='spree/babes/new'] {
  #main-container.main {
    background-color: $body-background-color;
  }
}


[data-route='spree/products/show'] {

  div.product-brand {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
  }

  div.product-title {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 200;
  }

  div.panel-body {
    height: 272px;
  }

  .panel-default {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  color: $black-color;

  .variant-option-values li a.option-value {
    padding: 0px;
  }

  .lead {
    color: $black-color;
  }
}

[data-route='spree/products/index'] {
  span.price.selling.lead {
    color: $black-color;
  }
}

[data-route='spree/taxons/show'] {
  span.price.selling.lead {
    color: $black-color;
  }
}

[data-route='spree/orders/edit'] {
  tr.active {
    color: $black-color;
  }

  tr.warning.cart-total {
    color: $black-color;

    td.lead {
      color: $black-color;
    }
  }
}
[data-route="spree/users/show"] {
  tbody {
    color: $black-color;

    td.lead.text-primary.order-total {
      color: $black-color;
    }
  }
}

[data-route="spree/checkout/edit"] {
  #methods {
    color: $black-color;
  }


  #payment {

    #payment-method-fields {
      color: $black-color;
    }

    .field {
      color: $black-color;
    }
  }

  .panel-body {
    color: $black-color;
  }

  td.lead.text-primary.price {
    color: $black-color;
  }

  td.lead.text-primary.total {
    color: $black-color;
  }

  span#order_total {
    color: $black-color;
  }
}

[data-route="spree/orders/show"] {
  tr.active {
    color: $black-color;
  }

  tr.warning.total {
    color: $black-color;

    #order_total {
      color: $black-color;
    }
  }
}

[data-route='spree/home/concierge_page'] {

  #main-container.main {
    background-color: $body-background-color;
  }

  footer {
    background-color: $body-background-color;

    a {
      color: #CCCCCC;
    }
  }

    h1,
  h2,
  h3 {
    text-align: center;
    text-transform: uppercase;
  }

  h1 {
    font-size: 4rem;

    @media screen and (max-width: $medium-large-breakpoint) {
      font-size: 3.5rem;
    }

  }

  h2 {
    font-size: 2.5rem;
  }

  section {
    @include clear;
    position: relative;
    padding: 6rem;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 63px;
      position: absolute;
      top: -32px;
      left: 0;
      //background-image: image-url('star-separator.png');
      background-image: url('https://tbar-general.s3.amazonaws.com/images/star-separator.png');
      background-position: center center;
      background-repeat: no-repeat;
    }

    article {
      box-sizing: border-box;
      float: left;
      padding: 2rem;

      @media screen and (max-width: $medium-large-breakpoint) {
        float: none;
      }

    }

    a {
      text-transform: uppercase;

      span {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        line-height: 1.2em;
        margin-left: .5em;
        text-align: center;
        border: solid 3px $link-color;
        border-radius: 1em;
        box-shadow: 0 0 2px 1px rgba(255, 255, 255, .8), inset 0 0 2px 1px rgba(255, 255, 255, .8);
      }

    }

  }

  section#extras {
    a {
      color: white;
    }
  }

  #introduction h3,
  #explanation h3 {
    font-size: 4rem;
  }

  #introduction {
    min-height: 90rem;
    padding-top: 15rem;
    padding-left: 40%;
    //background-image: image-url('woman-on-stairs.jpg');
    background-image: url('https://tbar-general.s3.amazonaws.com/images/woman-on-stairs.jpg');

    background-position: center top;
    background-size: auto 100%;
    background-repeat: no-repeat;

    @media screen and (max-width: $medium-large-breakpoint) {
      background-position: -20rem center;
      padding-left: 35%;
    }

    h1 {
      text-align: left;
    }

    a {
      font-size: 5rem;
      font-weight: bold;
      text-shadow: 0 0 2px white, 0 0 2px white;

      @media screen and (max-width: $medium-large-breakpoint) {
        font-size: 3rem;
      }

    }

  }

  #explanation {
    background-color: $explanation-background-color;
    //background-image: image-url('brown-gradient.png');
    background-image: url('https://tbar-general.s3.amazonaws.com/images/brown-gradient.png');
    background-position: center center;
    background-size: cover;

    article {
      width: 33.333%;
      padding-top: 30rem;

      @media screen and (max-width: $medium-large-breakpoint) {
        width: 100%;
      }

    }

    a {
      text-shadow: 0 0 2px white, 0 0 2px white;
      font-weight: bold;

      @media screen and (max-width: $medium-large-breakpoint) {
        font-size: 3rem;
      }

    }

    #step-1 {
      background: image-url('star-background.png') center top, url('https://tbar-general.s3.amazonaws.com/images/body-in-circle.png') center 2.7rem;
      background-repeat: no-repeat;
    }

    #step-2 {
      background: image-url('star-background.png') center top, url('https://tbar-general.s3.amazonaws.com/images/lingerie-in-circle.png') center 2.7rem;
      background-repeat: no-repeat;
    }

    #step-3 {
      background: image-url('star-background.png') center top, url('https://tbar-general.s3.amazonaws.com/images/couple-in-circle.png') center 2.7rem;
      background-repeat: no-repeat;
    }

  }

  #testimonials {
    color: black;
    background-color: white;

    article {
      width: 50%;
      padding-left: 15rem;
      background-image: url('https://tbar-general.s3.amazonaws.com/images/lingerie-hanging.png');
      background-position: 2rem center;
      background-repeat: no-repeat;
      background-size: 100px;

      @media screen and (max-width: $medium-large-breakpoint) {
        width: 100%;
      }

    }

    q {
      display: block;
      margin-bottom: 1em;
    }

    h3 {
      text-align: right;
    }

    a span {
      border-width: 2px;
    }

  }

  #extras {
    padding-top: 8rem;
    text-align: center;
    background-color: $extras-background-color;
    background-image: url('https://tbar-general.s3.amazonaws.com/images/blue-gradient.png');
    background-position: center center;
    background-position: cover;

    article {
      width: 33.333%;
      padding-top: 30rem;
      background-position: center top;
      background-repeat: no-repeat;

      @media screen and (max-width: $medium-large-breakpoint) {
        width: 100%;
        padding-top: 25rem;

        &:not(:first-child) {
          margin-top: 5rem;
        }

      }

    }

  }

  #the-panty-press {
    background-image: url('https://tbar-general.s3.amazonaws.com/images/lingerie-hanging.png');
  }

  #our-story {
    background-image: url('https://tbar-general.s3.amazonaws.com/images/lingerie-in-window.png');
  }

  #subscriptions {
    background-image: url('https://tbar-general.s3.amazonaws.com/images/lingerie-gift.png');
  }

  #press {
    text-align: center;
    color: black;
    background-color: white;

    a {
      margin: 0 1rem;
    }

  }

}

[data-route='spree/babes/new'] {
  
  h1,
  h2,
  h3 {
    text-align: center;
    text-transform: uppercase;
  }
  
  p {
    text-align: center;
  }
  
  #babe-container {
    max-width: 900px;
    position: relative;
    margin: 0 auto;
  }
  
  #body-type {
    z-index: 20;
    position: relative;
    margin-left: -3rem;
    text-align: center;
  }
  
  #body-type input {
    width: 6rem;
    height: 6rem;
    margin: 0 3rem;
    background-color: #222;
    border: 1px dashed #ddd;
    border-radius: 3rem;
    -webkit-appearance: none;
    
    &:checked {
      background-color: #ddd;
    }
    
    & + label {
      display: inline-block;
      width: 6rem;
      position: relative;
      top: -1.7rem;
      margin-left: -9.45rem;
      line-height: 6rem;
      text-align: center;
      font-size: 4rem;
      color: #ddd;
    }
    
    &:checked + label {
      color: #222;
    }
    
  }
  
  #cup,
  #band,
  #bottoms {
    z-index: 20;
    display: inline-block;
    position: absolute;
    
    label {
      margin: 0;
      padding: 0 4rem;
      width: 30rem;
      line-height: 4.5rem;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: normal;
      background-color: #333;
      border-radius: 1rem;
      border: 1px dashed #ddd;
    }
    
    select {
      display: none;
      
      & + span {
        width: 12rem;
        line-height: 12rem;
        position: absolute;
        top: -3.75rem;
        text-align: center;
        font-size: 5rem;
        font-weight: bold;
        border-radius: 7rem;
        border: 1px dashed #ddd;
      }
      
    }
    
    a {
      color: inherit;
      
      &:not(.previous, .next) {
        display: inline-block;
        width: 2rem;
        line-height: 2rem;
        position: absolute;
        text-align: center;
        font-size: 1.1rem;
        color: #ddd;
        background-color: #333;
        border: 1px solid #ddd;
        border-radius: 1rem;
        
        &:hover,
        &.selected {
          color: #222;
          background-color: #ddd;
        }
        
      }
    
      &.previous,
      &.next {
        display: block;
        position: absolute;
        font-size: 3rem;
        color: #222;
        text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
        
        &:hover {
          background-color: none;
          color: #444;
        }
        
      }
      
    }
    
  }
  
  #cup {
    top: 195px;
    left: 0;
    
    label {
      text-align: left;
      border-top-right-radius: 1.4rem;
      border-bottom-right-radius: 1.4rem;
      border-right: none;
    }
    
    select + span {
      right: 0;
    }
    
    a:first-of-type {
      right: 4.5rem;
      bottom: -6.5rem;
    }
    
    a:nth-of-type(2) {
      top: -5.1rem;
      right: 2rem;
    }
    
    a:nth-of-type(3) {
      top: -3.1rem;
      right: -.4rem;
    }

    a:nth-of-type(4) {
      top: -.3rem;
      right: -1.8rem;
    }

    a:nth-of-type(5) {
      top: 2.8rem;
      right: -1.8rem;
    }

    a:nth-of-type(6) {
      top: 5.6rem;
      right: -.5rem;
    }
    
    a:nth-of-type(7) {
      top: 7.7rem;
      right: 2rem;
    }
    
    a:last-of-type {
      top: -6rem;
      right: 4.5rem;
    }
    
  }
  
  #band,
  #bottoms {
    
    label {
      text-align: right;
      border-top-left-radius: 1.4rem;
      border-bottom-left-radius: 1.4rem;
      border-left: none;
    }
    
    select + span {
      left: 0;
    }
    
    a:first-of-type {
      bottom: -6.5rem;
      left: 4.5rem;
    }
    
    a:nth-of-type(2) {
      top: -5.1rem;
      left: 2rem;
    }
    
    a:nth-of-type(3) {
      top: -3.1rem;
      left: -.4rem;
    }

    a:nth-of-type(4) {
      top: -.3rem;
      left: -1.8rem;
    }

    a:nth-of-type(5) {
      top: 2.8rem;
      left: -1.8rem;
    }

    a:nth-of-type(6) {
      top: 5.6rem;
      left: -.5rem;
    }
    
    a:nth-of-type(7) {
      top: 7.7rem;
      left: 2rem;
    }
    
    a:last-of-type {
      top: -6rem;
      left: 4.5rem;
    }
    
  }
  
  #band {
    top: 150px;
    right: 0;
  }
  
  #bottoms {
    top: 330px;
    right: 0;
  }
  
  #name {
    position: relative;
    z-index: 20;
    margin: -3rem;
    text-align: center;
    
    label {
      display: none;
    }
    
    input[type=text] {
      width: 40rem;
      padding: .5rem 1rem;
      text-align: center;
      font-size: 2.5rem;
      background-color: #222;
      border: 1px dashed #ddd;
      border-radius: 1rem;
      -webkit-appearance: none;
    }
    
  }
  
  #babe-body {
    z-index: 10;
    position: relative;
    width: 690px;
    padding: 8rem;
    margin: -5rem auto 0 auto;
    border: 1px dashed #ddd;
    border-radius: 345px;
  }
    
  #body-head,
  #body-band,
  #body-cup,
  #body-bottoms {
    width: 200px;
    margin: 0 auto;
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  #body-head {
    z-index: 40;
    height: 136px;
    background-image: image-url('head.png');
    background-size: auto 100%;
  }
  
  #body-band {
    z-index: 20;
    height: 226px;
    margin-top: -80px;
    background-image: image-url('band-34.png');
    background-size: auto 100%;
  }
  
  #body-cup {
    z-index: 30;
    height: 44px;
    margin-top: -160px;
    background-image: image-url('cup-c.png');
    background-size: auto;
  }
  
  #body-bottoms {
    z-index: 10;
    height: 348px;
    margin-top: 16px;
    background-image: image-url('bottoms-m.png');
    background-size: auto 100%;
  }
  
  #personality {
    
    margin-top: 8rem;
    padding-top: 8rem;
    color: black;
    background-color: white;
    
    label,
    select {
      display: none;
    }
    
    fieldset {
      padding: 4rem;
    }
    
    fieldset:nth-of-type(even) {
      background-color: #eee;
    }
    
    fieldset:nth-of-type(odd) {
      background-color: white;
    }
    
    a {
      display: block;
      float: left;
      width: 25rem;
      height: 25rem;
      margin: 3rem;
      padding-top: 18rem;
      text-align: center;
      font-size: 2rem;
      color: inherit;
      box-shadow: 0 0 0 1px #ccc;
      border-radius: 12.5rem;
      
      &:hover,
      &.selected {
        box-shadow: 0 0 0 4px #666;
      }
      
      &.selected {
        font-weight: bold;
      }
      
    }
    
  }
  
  #finish {
    padding: 6rem;
    font-size: 5rem;
    text-align: center;
    background-color: white;
    
    input[type=submit] {
      text-transform: uppercase;
      color: $link-color;
      background: none;
      border: none;
      -webkit-appearance: none;
    }
  }
  
}