<div class="inner">

  <div class="post-content">
    <div class="post-entry">
      <div class="entry-content">
        <h3>Our Philosophy:</h3>
        <p>The T*Bar embraces the unexpected, the whimsical, the taboo and makes it accessible and fun. Simply stated we believe shopping for lingerie should be just as fun as taking it off.  We’re passionate experts on the subject and have been flawlessly fitting women of all sexy shapes and sizes for over a decade.  Like the lovechild of Betty Page and Paul Newman, The T*Bar empowers men, and the women they love, to embrace and own their sexuality in a playful, powerful and inspired way, with no apologies.</p>
        <h3>Our Team:</h3>
        <p><%= image_tag "deb2.jpg", width: 150, height: 150, alt: 'adam-bw' %><p><strong>Debby Caplin<br />
          Founder and CEO  </strong><br />
          Debby founded TheTBar.com bringing 26 years of experience in retail, merchandising, buying, customer service and design.  In Boulder Colorado, Debby is the lingerie Doyenne, where she founded and ran The T*Bar lingerie boutique. Prior, Debby worked for Federated Department Stores and Gilda Marx Bodywear, Hit or Miss and Benetton, among others. She holds two Bachelor degrees. One in Merchandising and Textiles and the other in Design and Art History. She is the mother of two amazing humans, lover of all things Florida Gators and believes every woman should have rocking lingerie.</p>
        <div class="clear"></div>
        <p><%= image_tag "kamiebwsmall.jpg", width: 150, height: 150, alt: 'adam-bw' %></p>
        <p><strong>Kamie Kennedy</strong><br />
          <strong> Chief Marketing Officer</strong><br />
          Kamie joins The T*Bar with 13 years of retail e-commerce experience, ranging from big companies such as Overstock.com to smaller boutique retail sites.  Her professional passion is digital customer acquisition, her personal passion is storytelling. She holds a B.A. from Dartmouth and an MBA from Stanford.</p>
        <div class="clear"></div>
        <p><%= image_tag "adambwsmall.png", width: 150, height: 150, alt: 'adam-bw' %><p><strong>Adam Rosenthal<br />
          Chief (only) Technical Officer</strong><br />
          Adam is a tried and true startup guy, who has spent the last 10 years building successfull technology and teams in the startup world. Adam came to startups from wall street and enterprise level software development, he holds an electrical engineering degree, and has spent most of his adult life trying to get into lingerie.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </div><!-- End .post-entry -->
  </div><!-- End .post-content -->

</div>