<section id='introduction'>
  <h2 class="home-statement">
    Finding the right lingerie shouldn't be as hard as it was finding the right woman to wear it.
  </h2>
  <p>The T*Bar takes the guesswork out and helps you nail it!</p>
  <a class="home-page-byb-link" href='/build_your_babe'>Let's build your babe<span>&rarr;</span></a>
</section>

<section id='explanation'>
  <h1>How it works</h1>
  <article id='step-1'>
    <h2>Tell us about her</h2>
    <!--<p>Start by using our 'Babe' to get her overall shape an size. Yes we want the details! Then answer a few questions about her to help us understand her style, and personality.</p>-->
  </article>
  <article id='step-2'>
    <h2>Get awesome lingerie</h2>
    <!-- <p>We'll present you a curated list of our recommendations that best fit your lady's overall persona. Peruse the list, and find what you think she'll love, or at least what you'll love her in (or out of).</p>-->
  </article>
  <article id='step-3'>
    <h2>Have some fun!</h2>
    <!--<p>Do we really need to provide you instructions on what to do here? We're confident that our process will help you nail it! Lingerie looks great on the floor too!</p>-->
  </article>
  <h3><a class="home-page-byb-link" href='/build_your_babe'>Ready? Let's go! <span>&rarr;</span></a></h3>
</section>

<!-- <section id='testimonials'>
  <h1>What our customers are saying</h1>
  <article>
    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</q>
    <cite>@OneHotHoney</cite>
  </article>
  <article>
    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</q>
    <cite>@TheLibrarian</cite>
  </article>
  <article>
    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</q>
    <cite>@DirtyThirty</cite>
  </article>
  <article>
    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</q>
    <cite>@FlirtyFishy</cite>
  </article>
  <h3><a href=''>Read more <span>&rarr;</span></a></h3>
</section> -->

<section id='extras'>
  <a href='/t/themes'>
  <article id='themed-collections'>
    <h2>Themed Collections</h2>
    <p>Our Themed Shops Will Help You Narrow The Choices And Set The Mood.</p>
  </article>
  </a>
  <a href='/t/giftideas'>
  <article id='our-story'>
    <h2>Gift Ideas</h2>
    <p>Fun gifts to ensure a fun time!</p>
  </article>
  </a>
  <a href='/how_the_wishlist_works'>
  <article id='subscriptions'>
    <h2>Ladies! The Wish-list!</h2>
    <p>Let your special someone know what you'd like!</p>
  </article>
  </a>
</section>

<section id='press'>
  <h1>The T*Bar in the press</h1>
  <%#= link_to image_tag(getS3GeneralUrl('TheManual.png')), 'http://www.themanual.com/living/sexiest-valentines-day-lingerie-brands/', :target => "_blank" %>
  <%#= link_to image_tag(getS3GeneralUrl('urbandaddy.png')), 'http://www.urbandaddy.com/ntl/weekender/36100/The_Weekender_Watches_Lingerie_and_a_Tacopedia_National_NTL', :target => "_blank" %>
<p>&nbsp;</p>
  <a href='http://www.themanual.com/living/sexiest-valentines-day-lingerie-brands/' target=_blank><%= image_tag(getS3GeneralUrl('TheManual.png')) %></a>
  <a href='http://www.urbandaddy.com/ntl/weekender/36100/The_Weekender_Watches_Lingerie_and_a_Tacopedia_National_NTL' target=_blank><%= image_tag(getS3GeneralUrl('urbandaddy.png')) %></a>
  <!-- <a href=''>TechCrunch</a>
  <a href=''>Time</a>
  <a href=''>The Wall Street Journal</a>
  <a href=''>InStyle</a>-->
</section>
