<section id="statement">
  <div class="home-statement" >
    "Finding the right lingerie shouldn't be as hard as it was finding the right woman to wear it"&nbsp;&nbsp;-theTQueen
  </div>
</section>
<section id='introduction'>
  <div class="small-print">The T*Bar takes the guesswork out and helps you nail it!</div>
  <!--<a class="home-page-byb-link" href='/build_your_babe'>Let's build your babe<span>&rarr;</span></a>-->
</section>
<section id="tiles">
  <article class="box">
    <div class="innerContent novice">
      <h2>I'm A Novice</h2>
      <p>Use our AWESOME build your babe to nail it with size and style for your special someone. It's Simple!<br>Here's how....</p>
      <div class="instruction-list">
        <div id="tell-us-about-her" class="instruction">1: Tell Us About Her</div>
        <div id="choose-lingerie" class="instruction">2: Choose Awesome Lingerie</div>
        <div id="have-some-fun" class="instruction">3: Have some fun!</div>
        <h2><a href="/babes/new">OK! LETS DO THIS!</a></h2>
      </div>
    </div>
  </article>
  <article class="box">
    <div class="innerContent experienced">
      <h2>I got this, let me shop</h2>
      <h4><a href='/products'>Curated Catalogue</a></h4>
      <h4><a href='/t/themes'>Themed Collections</a></h4>
      <h4><a href='/t/giftideas'>Gift Ideas</a></h4>
    </div>
  </article>
  <article class="box">
    <div class="innerContent lady">
      <h2>Wishlist</h2>
      <h4>(for the ladies)</h4>
      <p>So.... you want your special someone to buy you some sexy intimate apparel, but even with our awesome service to help them, you still think they'll blow it, its just who they are. Don't worry, we wont
        take it personally. To help, we've added the wish-list feature</p>

    </div>
  </article>

</section>

<div id="dialog-step1" style="width: auto; padding: 0px;" hidden="hidden">
  <section id='explanation' class="dialog-explanation" style="padding: 1rem">
    <div class="dialog-title" style="color: white">TELL US ABOUT HER</div>
    <div id='step-1' class="how-it-works-dialog">
      <p>Start by using our 'Babe' to get her overall shape an size. Yes we want the details! Then answer a few questions about her to help us understand her style, and personality.</p>
    </div>
  </section>
</div>
<div id="dialog-step2" style="width: auto; padding: 0px;" hidden="hidden">
  <section id='explanation' class="dialog-explanation" style="padding: 1rem">
    <div class="dialog-title" style="color: white">SELECTION TIME</div>
    <div id='step-2' class="how-it-works-dialog">
      <p>We'll present you a curated list of our recommendations that best fit your lady's overall persona. Peruse the list, and find what you think she'll love, or at least what you'll love her in (or out of).</p>
    </div>
  </section>
</div>
<div id="dialog-step3" style="width: auto; padding: 0px;" hidden="hidden">
  <section id='explanation' class="dialog-explanation" style="padding: 1rem">
    <div class="dialog-title" style="color: white">HAVE SOME FUN!</div>
    <div id='step-3' class="how-it-works-dialog">
      <p>Do we really need to provide you instructions on what to do here? We're confident that our process will help you nail it! Lingerie looks great on the floor too!</p>
    </div>
  </section>
</div>
<script>
  function openitup(id) {
    $(function() {
      $( "#"+id ).dialog();
    })
  }

  function closeitdown(id) {
    $(function() {
      $( "#"+id ).dialog('close');
    })
  }

  $("#tell-us-about-her").mouseenter(function() {
    openitup('dialog-step1');
  }).mouseleave(function() {
    // include to clear on mouse out - $("#SpanToTypeIn").typed('reset');
    closeitdown('dialog-step1');
  })

  $("#choose-lingerie").mouseenter(function() {
    openitup('dialog-step2');
  }).mouseleave(function() {
    // include to clear on mouse out - $("#SpanToTypeIn").typed('reset');
    closeitdown('dialog-step2');
  })

  $("#have-some-fun").mouseenter(function() {
    openitup('dialog-step3');
  }).mouseleave(function() {
    // include to clear on mouse out - $("#SpanToTypeIn").typed('reset');
    closeitdown('dialog-step3');
  })
</script>
<section id="instagram">
  <!-- SnapWidget -->
  <iframe src="http://snapwidget.com/sc/?u=dGhldGJhcnxpbnwyMDB8M3wzfHxub3w1fG5vbmV8b25TdGFydHx5ZXN8bm8=&ve=231015" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:200px"></iframe>
</section>
<section id='testimonials'>
  <h1>What our customers are saying</h1>
  <article>
    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</q>
    <cite>@OneHotHoney</cite>
  </article>
  <article>
    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</q>
    <cite>@TheLibrarian</cite>
  </article>
  <article>
    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</q>
    <cite>@DirtyThirty</cite>
  </article>
  <article>
    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</q>
    <cite>@FlirtyFishy</cite>
  </article>
  <h3><a href=''>Read more <span>&rarr;</span></a></h3>
</section>

<section id='press'>
  <h1>The T<%= image_tag('star-separator-teal-thin.png', class: 'tbar-star')%>Bar in the press</h1>
  <%#= link_to image_tag(getS3GeneralUrl('TheManual.png')), 'http://www.themanual.com/living/sexiest-valentines-day-lingerie-brands/', :target => "_blank" %>
  <%#= link_to image_tag(getS3GeneralUrl('urbandaddy.png')), 'http://www.urbandaddy.com/ntl/weekender/36100/The_Weekender_Watches_Lingerie_and_a_Tacopedia_National_NTL', :target => "_blank" %>
<p>&nbsp;</p>
  <a href='http://www.themanual.com/living/sexiest-valentines-day-lingerie-brands/' target=_blank><%= image_tag(getS3GeneralUrl('TheManual.png')) %></a>
  <a href='http://www.5280.com/fashionandbeauty/digital/2015/10/whats-happening-local-fashion-october' target=_blank><%= image_tag(getS3GeneralUrl('5280logosmall.jpg')) %></a>
  <a href='http://www.urbandaddy.com/ntl/weekender/36100/The_Weekender_Watches_Lingerie_and_a_Tacopedia_National_NTL' target=_blank><%= image_tag(getS3GeneralUrl('urbandaddy.png')) %></a>


  <!-- <a href=''>TechCrunch</a>
  <a href=''>Time</a>
  <a href=''>The Wall Street Journal</a>
  <a href=''>InStyle</a>-->
</section>
