<div class="inner">

  <h1>HOW THE WISH-LIST WORKS</h1>

  <p style="text-align: left;">So.... you want your special someone to buy you some sexy intimate apparel, but even with our awesome service to help them, you still think they'll blow it, its just who they are. Don't worry, we wont
  take it personally. To help, we've added the wish-list feature to let you shop for exactly what you want, with an easy way to let that special someone know what it is, so they can get it
  right for you. Here's how it works.</p>

  <ul>
    <li>First either log in, or create an account</li>
    <%= image_tag "click_signin.png", width: 600, alt: 'tbar-store' ,class: "wishlist-image"%>
    <li>Click on the 'SHOP' link next to our center logo in the header, this will bring up our curated selection of the great products we offer.</li>
    <br>
    <%#= image_tag "click_home.png", width: 600, alt: 'tbar-store' ,class: "wishlist-image"%>
    <li>If you see one you like, click the image to bring up the details page.</li>
    <%#= image_tag "click_product.png", width: 600, alt: 'tbar-store' ,class: "wishlist-image"%>
    <br>
    <li>Read the description, look at the other photos, imagine yourself wearing it, and if you're aroused by this piece then select<br>your size and click the 'ADD TO WISH-LIST' button.</li>
    <%= image_tag "click_wishlist.png", width: 600, alt: 'tbar-store' ,class: "wishlist-image"%>
    <li>Repeat steps 2 - 4 till you're satisfied with your selections and have given your person of interest enough choices to select from.</li>
    <br>
    <li>Then click the 'EMAIL A FRIEND' button, fill out the information, and BINGO, wish-list sent to those who need help the most.</li>
    <%= image_tag "click_email_a_friend.png", width: 600,  alt: 'tbar-store' ,class: "wishlist-image"%>
    <li>You can also get to your Wishlist by clicking the my account page and selecting the wishlist you just created.</li>
  </ul>
</div>