<h3>Privacy Policy</h3>
<div class="inner">

  <div class="post-content">
    <div class="post-entry">
      <div class="entry-content">
        <p><strong>T-BAR LINGERIE, INC.</strong><br />
          <strong>PRIVACY POLICY</strong><br />
          <strong>Last Updated: August 15, 2015</strong></p>
        <p>This privacy policy ("<strong>Policy</strong>") describes how T-Bar Lingerie, Inc. and its related companies ("<strong>Company</strong>") collect, use and share personal information of consumer users of this website, www.thetbar.com (the "<strong>Site</strong>"). This Policy also applies to any of our other websites that post this Policy. This Policy does not apply to websites that post different statements.</p>
        <p>&nbsp;</p>
        <p><strong>WHAT WE COLLECT</strong></p>
        <p><strong> </strong>We get information about you in a range of ways.</p>
        <p><strong>Information You Give Us.</strong> We collect information you provide to us.  For example,  we collect your‎ name, postal address, email address, phone number, fax number, username, password, and demographic information (such as your gender and occupation) when you create an account to log in to  our Site ("<strong>Account</strong>").  When you order products from our Site, we will collect all information necessary to complete the transaction, including your credit card information, billing information and shipping information.  If you provide us feedback or contact us via email, we will collect your name and email address, as well as any other content including in the email, in order to send you a reply.  If you participate in a sweepstakes, contest or giveaway on our Site, we may ask you for your email address and/or home phone number (to notify you if you win or not).  We may also collect personal information from you at other points on our Site that state that personal information is being collected.</p>
        <p><strong>Information We Get From Others.</strong> We may get information about you from other sources. We may add this to information we get from this Site.</p>
        <p><strong>Information Automatically Collected.</strong> We automatically log information about you and your computer. For example, when visiting our Site, we log your computer operating system type, browser type, browser language, the website you visited before browsing to our Site, pages you viewed, how long you spent on a page, access times and information about your use of and actions on our Site.</p>
        <ol>
          <li>We may log information using &#8220;cookies.&#8221; Cookies are small data files stored on your hard drive by a website. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them) to provide you with a more personal and interactive experience on our Site.    This type of information is collected to make the Site more useful to you and to tailor the experience with us to meet your special interests and needs.</li>
        </ol>
        <p><strong>Analytics</strong>.  We may use third party analytics services, such as Google Analytics ("<strong>Analytics Companies</strong>"), to help analyze how users use the Site.  Our Analytics Companies use cookies to collect information, such as how often users visit the Site, what pages they visit and what other sites they used prior to coming to the Site.  We use the information we get from Analytics Companies only to improve our Site and services.  We do not combine the information generated through the use of Analytics Companies with your personally identifiable information.</p>
        <p><strong> </strong></p>
        <p><strong>USE OF PERSONAL INFORMATION</strong></p>
        <p>We use your personal information as follows:</p>
        <ul>
          <li>We use your personal information to operate, maintain, and improve our sites, products, and services.</li>
          <li>We use your personal information to process and deliver contest entries and rewards.</li>
          <li>We use your personal information to respond to comments and questions and provide customer service.</li>
          <li>We use your personal information to send information including confirmations, invoices, technical notices, updates, security alerts, and support and administrative messages.</li>
          <li>We use your personal information to communicate about promotions, upcoming events, and other news about products and services offered by us and our selected partners.</li>
          <li>We use your personal information to link or combine user information with other personal information.</li>
          <li>We use your personal information to protect, investigate, and deter against fraudulent, unauthorized, or illegal activity.</li>
          <li>We use your personal information to provide and deliver products and services customers request.</li>
        </ul>
        <p><strong>SHARING OF PERSONAL INFORMATION</strong></p>
        <p>We may share personal information as follows:</p>
        <ul>
          <li>We may share personal information with your consent.</li>
          <li>We may share personal information when we do a business deal, or negotiate a business deal, involving the sale or transfer of all or a part of our business or assets. These deals can include any merger, financing, acquisition, or bankruptcy transaction or proceeding.</li>
          <li>We may share personal information for legal, protection, and safety purposes.</li>
        </ul>
        <p>o   We may share information to comply with laws.</p>
        <p>o   We may share information to respond to lawful requests and legal processes.</p>
        <p>o   We may share information to protect the rights and property of T-Bar Lingerie, Inc., our agents, customers, and others. This includes enforcing our agreements, policies, and terms of use.</p>
        <p>o   We may share information in an emergency. This includes protecting the safety of our employees and agents, our customers, or any person.</p>
        <ul>
          <li>We may share information with third party service providers to: provide you with the services that we offer you through our Site; to conduct quality assurance testing; to facilitate the creation of accounts; to provide technical support; and/or to provide other services of the Company.  These third party service providers are required not to use your personal data other than to provide the services requested by the Company.</li>
        </ul>
        <p>We may also share aggregated and/or anonymized data with others for their own uses.</p>
        <p>&nbsp;</p>
        <p><strong>INFORMATION CHOICES AND CHANGES</strong></p>
        <p>We will periodically send you free newsletters and emails that directly promote the use of our Site or services.  Our marketing emails tell you how to "opt-out." If you opt out, we may still send you non-marketing emails. Non-marketing emails include emails about your accounts and our business dealings with you.</p>
        <p>&nbsp;</p>
        <p>You may send requests about personal information to our Contact Information below. You can request to change contact choices, opt-out of our sharing with others, and update your personal information.</p>
        <p>&nbsp;</p>
        <p>You can typically remove and reject cookies from our Site with your browser settings. Many browsers are set to accept cookies until you change your settings. If you remove or reject our cookies, it could affect how our Site works for you.</p>
        <p>&nbsp;</p>
        <p><strong>CONTACT INFORMATION.</strong> We welcome your comments or questions about this privacy policy. You may also contact us at our address:</p>
        <p>&nbsp;</p>
        <p>T-Bar Lingerie, Inc.<br />
          1911 11th Street #105<br />
          Boulder, Colorado 80302</p>
        <p>&nbsp;</p>
        <ol>
          <li><strong>CHANGES TO THIS PRIVACY POLICY.</strong></li>
        </ol>
        <p>This Policy is subject to occasional revision, and if we make any material changes in the way we use your personal information, we will notify you by sending you an e-mail to the last e-mail address you provided to us and/or by prominently posting notice of the changes on our Site.  Any changes to this Policy will be effective upon the earlier of thirty (30) calendar days following our dispatch of an e-mail notice to you or thirty (30) calendar days following our posting of notice of the changes on our Site.  These changes will be effective immediately for new users of our service.  Please note that at all times you are responsible for updating your personal information to provide us with your most current e-mail address.  In the event that the last e-mail address that you have provided us is not valid, or for any reason is not capable of delivering to you the notice described above, our dispatch of the e-mail containing such notice will nonetheless constitute effective notice of the changes described in the notice.  If you do not wish to permit changes in our use of your personal information, you must notify us prior to the effective date of the changes that you wish to deactivate your Account with us.  Continued use of our Site or our service, following notice of such changes shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes.</p>
        <p>&nbsp;</p>
      </div>
    </div><!-- End .post-entry -->
  </div><!-- End .post-content -->

</div><!-- .inner -->