<h3>Returns and Exchanges</h3>
<div class="inner">

  <div class="post-content">
    <div class="post-entry">
      <div class="entry-content">
        <p>It is our goal that every client is thrilled!</p>
        <p>If you are not 100% satisfied with your purchase, you can return your order to us for an exchange or a full refund.</p>
        <p>We believe that in order to have the best possible online shopping experience, our customers should not have to pay for domestic return shipping. So, if for whatever reason you&#8217;re not happy with your purchase, just call or email us and we will issue you a return label- your domestic shipping costs are prepaid.</p>
        <p>Please help us by leaving original tags on the garments.</p>
        <p>You can reach us at:<br />
          team@thetbar.com</p>
        <p><img class="alignnone size-large wp-image-1044" src="https://thetbar.com/wp-content/uploads/2014/09/MF1_0353-2-1280x698.jpg" alt="MF1_0353-2" width="670" height="365" /></p>
      </div>
    </div><!-- End .post-entry -->
  </div><!-- End .post-content -->

</div><!-- .inner -->