<h3>Returns and Exchanges</h3>
<div class="inner">

  <div class="post-content">
    <div class="post-entry">
      <div class="entry-content">
        <p>It is our goal that every client is thrilled!</p>
        <p>If you are not 100% satisfied with your purchase, you can return your order to us for an exchange or a full refund.</p>
        <p>We believe that in order to have the best possible online shopping experience, our customers should not have to pay for domestic return shipping. So, if for whatever reason you&#8217;re not happy with your purchase, just call or email us and we will issue you a return label- your domestic shipping costs are prepaid.</p>
        <p>Please help us by leaving original tags on the garments.</p>
        <p>You can reach us at:<br />
          team@thetbar.com</p>
        <p><%= image_tag "tbar_returns.jpg", width: 670, height: 365, alt: 'returns-and-exchanges' %></p>
      </div>
    </div>
  </div>

</div>