<div class="page-title">


  <h1>Sizing</h1>


</div><!-- .loop-meta -->
<p>&nbsp;</p>
<section id="primary" class="content-area no-sidebar">

  <div id="content" class="site-content hfeed">

    <div class="">

      <div class="blog-home">





        <article id="post-1284" class="post-1284 page type-page status-publish hentry">

          <div class="inner-top cl">

            <div class="post-meta">
              <div class="meta-inner">
                <div class="entry-meta">
                </div>
              </div><!-- End .meta-inner -->
            </div><!-- End .post-meta -->

          </div>

          <div class="inner">

            <div class="post-content">
              <div class="post-entry">
                <div class="entry-content">
                  <h3>Bra Sister Sizing Chart:</h3>
                  <p>If we&#8217;re out of your bra size, check the chart below for a sister size that may work for you.</p>
                  <table width="922" border="yes" >
                    <tbody>
                    <tr style="background-color: #cccccc;">
                      <td width="148">30</td>
                      <td width="152">32</td>
                      <td width="152">34</td>
                      <td width="153">36</td>
                      <td width="161">38</td>
                      <td width="156">40</td>
                    </tr>
                    <tr>
                      <td>30AA</td>
                      <td>32AA</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>30A</td>
                      <td>32A</td>
                      <td>34AA</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>30B</td>
                      <td>32B</td>
                      <td>34A</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>30C</td>
                      <td>32C</td>
                      <td>34B</td>
                      <td>36AA</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>30D</td>
                      <td>32D</td>
                      <td>34C</td>
                      <td>36A</td>
                      <td>38AA</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>30DD</td>
                      <td>32DD</td>
                      <td>34D</td>
                      <td>36B</td>
                      <td>38A</td>
                      <td>40AA</td>
                    </tr>
                    <tr>
                      <td>30DDD/E</td>
                      <td>32DDD/E</td>
                      <td>34DD</td>
                      <td>36C</td>
                      <td>38B</td>
                      <td>40A</td>
                    </tr>
                    <tr>
                      <td>30F</td>
                      <td>32F</td>
                      <td>34DDD/E</td>
                      <td>36D</td>
                      <td>38C</td>
                      <td>40B</td>
                    </tr>
                    <tr>
                      <td>30G</td>
                      <td>32G</td>
                      <td>34F</td>
                      <td>36DDD/E</td>
                      <td>38D</td>
                      <td>40C</td>
                    </tr>
                    <tr>
                      <td>30H</td>
                      <td>32H</td>
                      <td>34G</td>
                      <td>36F</td>
                      <td>38DD</td>
                      <td>40D</td>
                    </tr>
                    <tr>
                      <td>30I</td>
                      <td>32I</td>
                      <td>34H</td>
                      <td>36G</td>
                      <td>38DDD/E</td>
                      <td>40DD</td>
                    </tr>
                    <tr>
                      <td>30J</td>
                      <td>32J</td>
                      <td>34I</td>
                      <td>36H</td>
                      <td>38F</td>
                      <td>40DDD/E</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td>34J</td>
                      <td>35I</td>
                      <td>38G</td>
                      <td>40F</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>36J</td>
                      <td>38H</td>
                      <td>40G</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>38I</td>
                      <td>40H</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>38J</td>
                      <td>40I</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>40J</td>
                    </tr>
                    </tbody>
                  </table>
                  <h3><a name="blush"></a>Blush Fit Guide:</h3>
                  <table>
                    <tbody>
                    <tr>
                      <td>size</td>
                      <td>XS</td>
                      <td>S</td>
                      <td>M</td>
                      <td>L</td>
                      <td>XL</td>
                    </tr>
                    <tr>
                      <td>dress size (USA)</td>
                      <td>0-2</td>
                      <td>4-6</td>
                      <td>8-10</td>
                      <td>12-14</td>
                      <td>16-18</td>
                    </tr>
                    <tr>
                      <td>bust</td>
                      <td>31.5-33</td>
                      <td>34-35.5</td>
                      <td>36.5-38</td>
                      <td>39.5-41</td>
                      <td>42.5-44</td>
                    </tr>
                    <tr>
                      <td>natural waist</td>
                      <td>24-25</td>
                      <td>26-27</td>
                      <td>28-29</td>
                      <td>30.5-32</td>
                      <td>33.5-35</td>
                    </tr>
                    <tr>
                      <td>hip</td>
                      <td>34-35</td>
                      <td>36-37</td>
                      <td>38-39</td>
                      <td>40.5-42</td>
                      <td>43.5-45</td>
                    </tr>
                    </tbody>
                  </table>
                  <h3><a name="kriss-soonik"></a>Kriss Soonik Fit Guide</h3>
                  <table>
                    <tbody>
                    <tr>
                      <td></td>
                      <td>XS</td>
                      <td>S</td>
                      <td>M</td>
                      <td>L</td>
                    </tr>
                    <tr>
                      <td>Bust (cm)</td>
                      <td>80-81</td>
                      <td>81-83</td>
                      <td>83-89</td>
                      <td>89-95</td>
                    </tr>
                    <tr>
                      <td>Waist (cm)</td>
                      <td>61-63</td>
                      <td>63-68</td>
                      <td>68-75</td>
                      <td>75-80</td>
                    </tr>
                    <tr>
                      <td>Hip (cm)</td>
                      <td>86-89</td>
                      <td>89-92</td>
                      <td>92-99</td>
                      <td>99-105</td>
                    </tr>
                    <tr style="color: #ffffff;">
                      <td style="color: #ffffff;">-</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Bust (in)</td>
                      <td>30</td>
                      <td>32</td>
                      <td>33-34</td>
                      <td>35-37</td>
                    </tr>
                    <tr>
                      <td>Waist (in)</td>
                      <td>23-24</td>
                      <td>25-26</td>
                      <td>27-29</td>
                      <td>30-32</td>
                    </tr>
                    <tr>
                      <td>Hip (in)</td>
                      <td>33-34</td>
                      <td>35-36</td>
                      <td>37-39</td>
                      <td>40-42</td>
                    </tr>
                    <tr>
                      <td style="color: #ffffff;">-</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>UK</td>
                      <td>6-8</td>
                      <td>8-10</td>
                      <td>10-12</td>
                      <td>12-14</td>
                    </tr>
                    <tr>
                      <td>USA</td>
                      <td>4</td>
                      <td>6</td>
                      <td>8</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td>EU</td>
                      <td>34</td>
                      <td>36</td>
                      <td>38</td>
                      <td>40</td>
                    </tr>
                    </tbody>
                  </table>
                  <p>&nbsp;</p>
                </div>
              </div><!-- End .post-entry -->
            </div><!-- End .post-content -->

          </div><!-- .inner -->

        </article><!-- .hentry -->




      </div>

    </div> <!-- .blog -->

    <div class="divider"></div>

  </div><!-- #content -->

</section>